
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */


 #container{
    /*height: 600px;
    width: 600px;*/
    
    margin:0 auto;


 }


 #listings-container{
    /*height: 500px;*/
    width: 100%;
    text-align: center;
    margin:0 auto;
    margin-top: 30px;
    background-color: #f5f5f1;
    border-top:2px solid #dfdedc;


     }

.listing{
    display:inline-block;
    border: 1px solid #dddfdc;
    width:228px;
    height: 227px;
    margin:10px;
    white-space: nowrap;
    overflow:hidden !important;
    

}

/*#78c042*/

.image{
width:226px;
height: 180px; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
cursor: pointer;

}

.title{
width: 100%;  
font-size: 15px;
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden !important;
cursor: pointer;
}



#upper-pannel{
    border-bottom: 2px solid #e1e3df;
    height: 80px;
}

#upper-pannel h2{
display:inline-block;
margin-left: 130px;
 line-height: 80px;
 color: #f56400;
 font-weight: normal;
 font-size: 40px;


}

#upper-pannel input{
margin-left: 19px;
width:261px;
height: 33px;
}

